{
	email {$ACME_EMAIL}
}

{$PUBLIC_DOMAIN} {
	encode zstd gzip
	reverse_proxy public-web:80
}

{$ADMIN_DOMAIN} {
	encode zstd gzip
	reverse_proxy admin-dashboard:80
}

{$API_DOMAIN} {
	encode zstd gzip
	reverse_proxy backend:3000
}
